img{
    display: block;
    float: left;
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.container{
    max-width: 900px;
}

.post{
    border-style: solid;
    border-color: black;
    width: 90%;
    margin: 5px;
    float: left;
}

.post_date{
    margin: 10px;
    float: left;
}

.post_message{
    float: left;
}
